In [3]:
import os

In [1]:
%pwd

'c:\\Users\\Portable\\OneDrive\\Desktop\\Automated-Stock-Price-Prediction-Pipeline-A-Complete-MLOps-Lifecycle\\research'

In [4]:
os.chdir("../")

In [5]:
%pwd

'c:\\Users\\Portable\\OneDrive\\Desktop\\Automated-Stock-Price-Prediction-Pipeline-A-Complete-MLOps-Lifecycle'

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv(r"data\processed\processed_stock_data.csv")

In [10]:
df.head(25)

,date,open,high,low,close,volume,close_normalized,SMA_20,EMA_20,close_lag1,close_lag3
0,2024-10-18 19:59:00,232.3100,232.3100,232.3100,232.3100,1,0.324290,NaN,232.310000,NaN,NaN
1,2024-10-18 19:56:00,232.3100,232.3100,232.3100,232.3100,5,0.324290,NaN,232.310000,232.3100,NaN
2,2024-10-18 19:54:00,232.3700,232.4000,232.3700,232.4000,202,0.577369,NaN,232.318571,232.3100,NaN
3,2024-10-18 19:50:00,232.3000,232.3000,232.3000,232.3000,5,0.296170,NaN,232.316803,232.4000,232.3100
4,2024-10-18 19:46:00,232.3400,232.3400,232.3000,232.3000,5,0.296170,NaN,232.315202,232.3000,232.3100
5,2024-10-18 19:45:00,232.4000,232.4000,232.4000,232.4000,20,0.577369,NaN,232.323278,232.3000,232.4000
6,2024-10-18 19:43:00,232.4000,232.4000,232.4000,232.4000,25,0.577369,NaN,232.330585,232.4000,232.3000
7,2024-10-18 19:33:00,232.3987,232.3987,232.3987,232.3987,1,0.573713,NaN,232.337072,232.4000,232.3000
8,2024-10-18 19:32:00,232.2800,232.2800,232.2800,232.2800,25,0.239930,NaN,232.331637,232.3987,232.4000
9,2024-10-18 19:14:00,232.4000,232.4000,232.2100,232.2100,75,0.043091,NaN,232.320052,232.2800,232.4000
10,2024-10-18 19:12:00,232.4000,232.4000,232.4000,232.4000,50,0.577369,NaN,232.327666,232.2100,232.3987
11,2024-10-18 19:07:00,232.3600,232.3600,232.3600,232.3600,2,0.464889,NaN,232.330746,232.4000,232.2800
12,2024-10-18 19:04:00,232.4000,232.4000,232.3900,232.3900,133,0.549249,NaN,232.336389,232.3600,232.2100
13,2024-10-18 19:00:00,232.2000,232.2000,232.2000,232.2000,1456940,0.014971,NaN,232.323400,232.3900,232.4000
14,2024-10-18 18:57:00,232.3500,232.3500,232.3500,232.3500,3,0.436770,NaN,232.325933,232.2000,232.3600
15,2024-10-18 18:56:00,232.3500,232.3500,232.3500,232.3500,25,0.436770,NaN,232.328225,232.3500,232.3900
16,2024-10-18 18:46:00,232.4497,232.4497,232.4497,232.4497,100,0.717125,NaN,232.339794,232.3500,232.2000
17,2024-10-18 18:45:00,232.4000,232.4000,232.4000,232.4000,1,0.577369,NaN,232.345528,232.4497,232.3500
18,2024-10-18 18:33:00,232.4400,232.4400,232.4400,232.4400,25,0.689849,NaN,232.354525,232.4000,232.3500
19,2024-10-18 18:30:00,232.2000,232.2000,232.2000,232.2000,1456940,0.014971,232.34242,232.339809,232.4400,232.4497
20,2024-10-18 18:28:00,232.2100,232.2100,232.2100,232.2100,50,0.043091,232.33742,232.327446,232.2000,232.4000
21,2024-10-18 18:17:00,232.4700,232.5000,232.4500,232.4500,1096,0.717969,232.34442,232.339118,232.2100,232.4400
22,2024-10-18 18:16:00,232.4700,232.4700,232.4700,232.4700,55,0.774208,232.34792,232.351583,232.4500,232.2000
23,2024-10-18 18:15:00,232.4600,232.4700,232.4600,232.4700,65,0.774208,232.35642,232.362861,232.4700,232.2100
24,2024-10-18 18:09:00,232.4700,232.4700,232.4700,232.4700,6,0.774208,232.36492,232.373064,232.4700,232.4500

In [14]:
df.isnull().sum()

date                 0
open                 0
high                 0
low                  0
close                0
volume               0
close_normalized     0
SMA_20              19
EMA_20               0
close_lag1           1
close_lag3           3
dtype: int64

In [12]:
df[["close", "EMA_20", "high", "open", "date", "low", "volume"]].isnull().sum()

close     0
EMA_20    0
high      0
open      0
date      0
low       0
volume    0
dtype: int64